<fieldset>
  <ol>
    <li>
      <fieldset>
<h1>Nintendo Video Game Console List</h1>
</fieldset>
<fieldset>
<h2>Nintendo 64 Series</h2>
<a href="https://en.wikipedia.org/wiki/Nintendo_64">Nintendo 64 From Wikipedia, the free encyclopedia</a>
<div>
<img src="/images/N64.png">
</div>
<div>
<p>The Nintendo 64[a] (abbreviated as N64, stylized as NINTENDO64) is a home video game console developed and marketed by Nintendo. It was first released on June 24, 1996 in Japan, September 29, 1996 in North America, and March 1, 1997 in Europe and Australia. It was the last major home console to use cartridges as its primary storage format until the Nintendo Switch in 2017.[8] As a fifth generation console, it competed primarily with the PlayStation and the Sega Saturn.<p>

<p>Development of the console began in 1993 under the codename "Project Reality". Although the design was mostly complete by mid-1995, its launch was delayed until 1996. The console takes its name from the 64-bit processing unit. It was launched with three games: Super Mario 64, Pilotwings 64 and Saikyō Habu Shōgi (exclusive to Japan). Time named it Machine of the Year in 1996,[9] and in 2015, IGN named it the ninth-greatest video game console of all time.[10] The Nintendo 64 was discontinued in 2002 following the launch of its successor, the GameCube. The Nintendo 64 was critically acclaimed upon release and remains one of the most recognized video game consoles.</p>
</div>
</fieldset>
</li>
<li>
  <fieldset>
  <div>
    <h2>Nintendo GameCube Series</h2>
    <a href="https://en.wikipedia.org/wiki/GameCube">Nintendo GameCube From Wikipedia, the free encyclopedia</a>
    <img src="/images/NGC.png">
    </div>
    <div>
    <p>The Nintendo GameCube[b][c] is a home video game console released by Nintendo in Japan and North America in 2001 and in PAL territories in 2002. The GameCube is Nintendo's entry in the sixth generation of video game consoles and the successor to their previous console, the Nintendo 64. The GameCube competed with Sony's PlayStation 2 and Microsoft's Xbox.</p>

    <p>The GameCube is the first Nintendo console to use optical discs as its primary storage medium. The discs are in a miniDVD-based format but the system was not designed to play full-sized DVDs or audio CDs unlike its competitors, and mainly focused on gaming instead. The console supports limited online gaming for a small number of games via a GameCube broadband or modem adapter and can connect to a Game Boy Advance with a link cable, which allows players to access exclusive in-game features using the handheld as a second screen and controller like a Wii U.</p>

    <p>Reception of the GameCube was generally positive. The console was praised for its controller, extensive software library and high-quality games, but was criticized for its exterior design and lack of features. Nintendo sold 21.74 million GameCube units worldwide before the console was discontinued in 2007. Its successor, the Wii, was released in November 2006.</p>
