<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <ul id="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/games">Video Game Titles</a></li>
      <li><a href="/vgt">Video Game Gameplays</a></li>
      <li><a href="/smartphonespecs">Smartphones Specs For Gaming</a></li>
      <li><a href="/macintoshcomputers">History Of Apple Macintosh</a></li>
      <li><a href="/starwarsfranchise">History Of Star Wars 1977-Present</a></li>
      <li><a href="/my-form">My Form</a></li>
    </ul>
    <h1><%= title %></h1>
    <%= yield %>
  </body>
</html>
