<html>
<h1>
<img src="images/Apple/AppleLogoOne.png" alt="Original Apple Logo" width="273" height="375">
<div>
<h2>1976 / 1977 Apple I & Apple II</h2>
</div>
<div>
<h1>
<img src="images/Apple/AppleI.png" alt="Original Apple I" width="469" height="375">
<img src="images/Apple/AppleII.png" alt="Original Apple I" width="423" height="375">
<h1><a href="https://en.wikipedia.org/wiki/Apple_I">Apple I From Wikipedia, the free encyclopedia</a><h1>
</div>
  <div>
  <p>"Apple 1" redirects here. For the album, see Apple Records discography. "Apple One" redirects here. For the subscription service, see Apple One (service).</p>
  <p>The Apple Computer 1, originally released as the Apple Computer and known later as the Apple I, or Apple-1, is a desktop computer released by the Apple Computer Company (now Apple Inc.) in 1976. It was designed and hand-built by Steve Wozniak.[2][3] The idea of selling the computer came from Wozniak's friend Steve Jobs.[4][5] The Apple I was Apple's first product, and to finance its creation, Jobs sold his only motorized means of transportation, a VW Microbus,[6] for a few hundred dollars (Wozniak later said that Jobs planned instead to use his bicycle to get around), and Wozniak sold his HP-65 calculator for $500.[7] Wozniak demonstrated the first prototype in July 1976 at the Homebrew Computer Club in Palo Alto, California</p>
  <p>Production was discontinued on September 30, 1977, after the June 10, 1977 introduction of its successor, the Apple II, which Byte magazine referred to as part of the "1977 Trinity" of personal computing (along with the PET 2001 from Commodore Business Machines and the TRS-80 Model I from Tandy Corporation).[9]</p>
</div>
<div>
  <h1><a href="https://en.wikipedia.org/wiki/Apple_II">Apple II From Wikipedia, the free encyclopedia</a><h1>
</div>
<div>
  <p>"Apple 2" redirects here. For the nuclear test during Operation Teapot, see Apple-2.
This article is about the first mass-produced Apple computer. For an overview of the series of computers based on it, see Apple II series.</p>
<p>The Apple II (stylized as apple ][) is an 8-bit home computer and one of the world's first highly successful mass-produced microcomputer products.[2] It was designed primarily by Steve Wozniak; Steve Jobs oversaw the development of Apple II's foam-molded plastic case[3] and Rod Holt developed the switching power supply.[4] It was introduced by Jobs and Wozniak at the 1977 West Coast Computer Faire, and marks Apple's first launch of a personal computer aimed at a consumer market—branded toward American households rather than businessmen or computer hobbyists.[5]</p>
<p>Byte magazine referred to Apple II, Commodore PET 2001, and TRS-80 as the "1977 Trinity."[6] Apple II had the defining feature of being able to display color graphics, and this was why the Apple logo was redesigned to have a spectrum of colors.</p>
<p>Apple II is the first model in the Apple II series, followed by Apple II+, Apple IIe, Apple IIc, and the 16-bit Apple IIgs — all of which remained compatible. Production of the last available model, Apple IIe, ceased in November 1993.[7]</p>
  </div>
<div>
<h2>1984 / 1986 Macintosh & Macintosh Plus</h2>
</div>
<div>
<img src="images/Apple/Macintosh.png" alt="1984 Macintosh" width="562" height="375">
<img src="images/Apple/MacintoshPlus.png" alt="1984 Macintosh" width="562" height="375">
<h1><a href="https://en.wikipedia.org/wiki/Macintosh_128K">Macintosh 128K From Wikipedia, the free encyclopedia</a><h1>
</div>
<div>
<p>The Macintosh 128K, originally released as the Apple Macintosh, is the original Apple Macintosh personal computer. Its beige case consisted of a 9 in (23 cm) CRT monitor and came with a keyboard and mouse. A handle built into the top of the case made it easier for the computer to be lifted and carried. It had an initial selling price of $2,495 (equivalent to $6,140 in 2019). The Macintosh was introduced by the now-famous $370,000 (equivalent to $910,541 in 2019) television commercial directed by Ridley Scott, "1984", which aired on CBS during the third quarter of Super Bowl XVIII on January 22, 1984.[6] Sales of the Macintosh were strong from its initial release on January 24, 1984, and reached 70,000 units on May 3, 1984.[7] Upon the release of its successor, the Macintosh 512K, it was rebranded as the Macintosh 128K. The computer's model number was M0001.[8]</p>
</div>
<div>
  <h1><a href="https://en.wikipedia.org/wiki/Macintosh_Plus">Macintosh Plus From Wikipedia, the free encyclopedia</a><h1>
    </div>
    <div>
  <p>The Macintosh Plus computer is the third model in the Macintosh line, introduced on January 16, 1986, two years after the original Macintosh and a little more than a year after the Macintosh 512K, with a price tag of US$2599.[1] As an evolutionary improvement over the 512K, it shipped with 1 MB of RAM standard, expandable to 4 MB, and an external SCSI peripheral bus, among smaller improvements. Originally, the computer's case was the same beige color as the original Macintosh, Pantone 453,[2] however in 1987, the case color was changed to the long-lived, warm gray "Platinum" color.[3] It is the earliest Macintosh model able to run System 7.</p>
  </div>
  </html>
