<h1>
<img src="images/Apple/AppleLogoOne.png" alt="Original Apple Logo" width="273" height="375">
<div>
<h2>1976 / 1977 Apple I & Apple II</h2>
</div>
<div>
<h1>
<img src="images/Apple/AppleI.png" alt="Original Apple I" width="469" height="375">
<img src="images/Apple/AppleII.png" alt="Original Apple I" width="423" height="375">
<h1><a href="https://en.wikipedia.org/wiki/Apple_I">Apple I From Wikipedia, the free encyclopedia</a><h1>
</div>
  <div>
  <p>"Apple 1" redirects here. For the album, see Apple Records discography. "Apple One" redirects here. For the subscription service, see Apple One (service).</p>
  <p>The Apple Computer 1, originally released as the Apple Computer and known later as the Apple I, or Apple-1, is a desktop computer released by the Apple Computer Company (now Apple Inc.) in 1976. It was designed and hand-built by Steve Wozniak.[2][3] The idea of selling the computer came from Wozniak's friend Steve Jobs.[4][5] The Apple I was Apple's first product, and to finance its creation, Jobs sold his only motorized means of transportation, a VW Microbus,[6] for a few hundred dollars (Wozniak later said that Jobs planned instead to use his bicycle to get around), and Wozniak sold his HP-65 calculator for $500.[7] Wozniak demonstrated the first prototype in July 1976 at the Homebrew Computer Club in Palo Alto, California</p>
  <p>Production was discontinued on September 30, 1977, after the June 10, 1977 introduction of its successor, the Apple II, which Byte magazine referred to as part of the "1977 Trinity" of personal computing (along with the PET 2001 from Commodore Business Machines and the TRS-80 Model I from Tandy Corporation).[9]</p>
</div>
<div>
<h2>1984 / 1986 Macintosh & Macintosh Plus</h2>
</div>
<div>
<img src="images/Apple/Macintosh.png" alt="1984 Macintosh" width="562" height="375">
<img src="images/Apple/MacintoshPlus.png" alt="1984 Macintosh" width="562" height="375">
<h1><a href="https://en.wikipedia.org/wiki/Macintosh_128K">Macintosh 128K From Wikipedia, the free encyclopedia</a><h1>
</div>
<div>
<p>The Macintosh 128K, originally released as the Apple Macintosh, is the original Apple Macintosh personal computer. Its beige case consisted of a 9 in (23 cm) CRT monitor and came with a keyboard and mouse. A handle built into the top of the case made it easier for the computer to be lifted and carried. It had an initial selling price of $2,495 (equivalent to $6,140 in 2019). The Macintosh was introduced by the now-famous $370,000 (equivalent to $910,541 in 2019) television commercial directed by Ridley Scott, "1984", which aired on CBS during the third quarter of Super Bowl XVIII on January 22, 1984.[6] Sales of the Macintosh were strong from its initial release on January 24, 1984, and reached 70,000 units on May 3, 1984.[7] Upon the release of its successor, the Macintosh 512K, it was rebranded as the Macintosh 128K. The computer's model number was M0001.[8]</p>
</div>
