<ol>
  <li>
    <div>
      <h1>Samsung Galaxy Note Series</h1>
    </div>
    <div>
      <h2>Samsung Galaxy Note 10+ / 5G (Most Reliable Smartphone)
    </div>
    <div>
      <img src="/images/smartphones/N10P.png" alt="Galaxy Note 10+ Aura Glow" width="365" height="375">
      <img src="/images/smartphones/N10PAB.png" alt="Galaxy Note 10+ Aura Black" width="365" height="375">
      <img src="/images/smartphones/N10PAW.png" alt="Galaxy Note 10+ Aura White" width="365" height="375">
    </div>
    <div>
      <h2>Galaxy Note 10+ 5G Versions: SM-N976F (Global); SM-N976U (USA); SM-N976N (South Korea); SM-N976B (Australia)<h2>
        <h2>NETWORK	Technology	GSM / CDMA / HSPA / EVDO / LTE / 5G</h2>
        <h2>LAUNCH	Announced	2019, August, Status	Available. Released 2019, August</h2>
        <h2>BODY	Dimensions	162.3 x 77.2 x 7.9 mm (6.39 x 3.04 x 0.31 in)</h2>
        <h2>Weight	198 g (6.98 oz)</h2>
        <h2>Build	Glass front (Gorilla Glass 6), glass back (Gorilla Glass 6), aluminum frame</h2>
        <h2>SIM	Nano-SIM</h2>
        <h2>IP68 dust/water resistant (up to 1.5m for 30 mins)</h2>
        <h2>Stylus, 42ms latency (Bluetooth integration, accelerometer, gyro)</h2>
        <h2>DISPLAY	Type	Dynamic AMOLED, HDR10+</h2>
        <h2>Size	6.8 inches, 114.0 cm2 (~91.0% screen-to-body ratio)</h2>
        <h2>Resolution	1440 x 3040 pixels, 19:9 ratio (~498 ppi density)</h2>
        <h2>Protection	Corning Gorilla Glass 6</h2>
        <h2>Always-on display</h2>
        <h2>PLATFORM	OS	Android 9.0 (Pie), upgradable to Android 11, One UI 3.0</h2>
        <h2>Chipset	Exynos 9825 (7 nm) - EMEA/LATAM</h2>
        <h2>Qualcomm SM8150 Snapdragon 855 (7 nm) - USA/China</h2>
        <h2>CPU	Octa-core (2x2.73 GHz Mongoose M4 & 2x2.4 GHz Cortex-A75 & 4x1.9 GHz Cortex-A55) - EMEA/LATAM</h2>
        <h2>Octa-core (1x2.84 GHz Kryo 485 & 3x2.42 GHz Kryo 485 & 4x1.78 GHz Kryo 485) - USA/China</h2>
        <h2>GPU	Mali-G76 MP12 - EMEA/LATAM / Adreno 640 - USA/China</h2>
        <h2>MEMORY	Card slot	microSDXC (dedicated slot)</h2>
        <h2>Internal	256GB 12GB RAM, 512GB 12GB RAM</h2>
        <h2>Filesystem: UFS 3.0</h2>
        <h2>MAIN CAMERA	Quad	12 MP, f/1.5-2.4, 27mm (wide), 1/2.55", 1.4µm, Dual Pixel PDAF, OIS</h2>
        <h2>12 MP, f/2.1, 52mm (telephoto), 1/3.6", 1.0µm, PDAF, OIS, 2x optical zoom</h2>
        <h2>16 MP, f/2.2, 12mm (ultrawide), 1/3.1", 1.0µm, Super Steady video</h2>
        <h2>0.3 MP, TOF 3D, (depth)</h2>
        <h2>Features	LED flash, auto-HDR, panorama</h2>
        <h2>Video	4K@30/60fps, 1080p@30/60/240fps, 720p@960fps, HDR10+, stereo sound rec., gyro-EIS & OIS</h2>
        <h2>SELFIE CAMERA	Single	10 MP, f/2.2, 26mm (wide), 1/3", 1.22µm, Dual Pixel PDAF</h2>
        <h2>Features	Dual video call, Auto-HDR</h2>
        <h2>Video	4K@30/60fps</h2>
        <h2>SOUND	Loudspeaker	Yes, with stereo speakers</h2>
        <h2>3.5mm jack	No</h2>
        <h2>32-bit/384kHz audio</h2>
        <h2>Tuned by AKG</h2>
        <h2>CONNECTIONS:	WLAN	Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, hotspot</h2>
        <h2>Bluetooth	5.0, A2DP, LE, aptX</h2>
        <h2>GPS	Yes, with A-GPS, GLONASS, BDS, GALILEO</h2>
        <h2>NFC	Yes</h2>
        <h2>Radio	FM radio (USA & Canada only)</h2>
        <h2>USB	USB Type-C 3.1</h2>
        <h2>FEATURES	Sensors	Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity, compass, barometer</h2>
        <h2>Samsung DeX, Samsung Wireless DeX (desktop experience support) ANT+</h2>
        <h2>Bixby natural language commands and dictation</h2>
        <h2>Samsung Pay (Visa, MasterCard certified)</h2>
        <h2>BATTERY	Type	Li-Ion 4300 mAh, non-removable</h2>
        <h2>Charging	Fast charging 45W</h2>
        <h2>USB Power Delivery 3.0</h2>
        <h2>Fast Qi/PMA wireless charging 15W</h2>
        <h2>Reverse wireless charging 4.5W</h2>
        <h2>MISC Colors: Aura Glow, Aura White, Aura Black</h2>
        <h2>Models	SM-N976F, SM-N976U, SM-N976, SM-N976B, SM-N976N, SM-N976V, SM-N9760, SM-N976Q</h2>
        <h2>Price	£ 648.00 / € 739.90</h2>
      </div>
    </li>
    <li>
      <div>
        <h1>Samsung Galaxy Note 10+ Youtube Videos Links</h1>
      </div>
      <div>
        <h1><a href="https://youtu.be/sZaTvpdrQyA">Galaxy Note10 Official TVC: Next-level power</a><h1>
        <img src="/images/smartphones/N10Intro.png" alt="Samsung Galaxy Note 10 / 10+" width="1333" height="750">
        <h2>Samsung Galaxy Note Fans Say hi to the new Galaxy Note. Galaxy Note10 Today, the Galaxy Note10 takes the power of the Note to the next level. Intelligent S Pen instantly turns handwriting into text and gives you touch-free gesture control. Pro-grade camera with video bokeh lets you make special moments stand out, while HyperFast live-streaming delivers next-level speed anywhere, anytime - all powered by a battery that lasts all day with just a 30 minute charge.</h2>
      </div>
      <div>
        <h1><a href="https://youtu.be/itZKXXmUwNU">Galaxy Note10 Series | Official Introduction | Samsung</a><h1>
        <img src="/images/smartphones/N10THEME.png" alt="Samsung Galaxy Note 10 & 10+" width="1333" height="375">
        <h2>Samsung Galaxy Note Fans Say hi to the new Galaxy Note. Galaxy Note10 Today, the Galaxy Note10 takes the power of the Note to the next level. Intelligent S Pen instantly turns handwriting into text and gives you touch-free gesture control. Pro-grade camera with video bokeh lets you make special moments stand out, while HyperFast live-streaming delivers next-level speed anywhere, anytime - all powered by a battery that lasts all day with just a 30 minute charge.<h2>
      </div>
      <div>
        <h1><a href="https://youtu.be/S65Y4INdyZk">Galaxy UNPACKED Aug 2019: Official Replay</a><h1>
          <img src="/images/smartphones/gunpacked.png" alt="Samsung Galaxy Unpacked 2019" width="1333" height="375">
        </div>
        <div>
        </div>
        <div>
          <h1><a href="https://www.samsung.com/sg/smartphones/galaxy-note10/">Galaxy Note 10+: Meet the next-level power phone.</a><h1>
          <h1>The Galaxy Note 10 Could Be The Near-Perfect Gaming Phone</h1><h1>By Justin Diaz, August 14, 2019</h1>
          <h2>Samsung's Galaxy Note 10 could be the near-perfect gaming phone. Is it a traditional gaming phone? No. It's not marketed as a gaming phone. Not like the ASUS ROG Phone II. It is, however, marketed as a high-end smartphone with gaming-specific features and hardware. Samsung is keen on delivering a stellar mobile gaming experience with this device, and it wants the world to know it. There are more than a few reasons to choose the Galaxy Note 10 if you love gaming, too, and it's not just for mobile games. The Hardware Is Powerful Every year high-end devices become more powerful. Companies continue to push the envelope by using whatever the next best hardware is. It's no different this year with the Galaxy Note 10, and that's where becoming a near-perfect gaming phone begins. Samsung is using the Qualcomm Snapdragon 855 processor inside of this device, which is more than capable of handling next-gen mobile gaming.</h2>
          <h1><a href="https://www.androidheadlines.com/2019/08/galaxy-note-10-could-be-near-perfect-gaming-phone.html#:~:text=The%20Note%2010%20is%20no,a%20vapor%20chamber%20cooling%20system.">Galaxy Note 10: Android Headlines</a><h1>
            <img src="/images/smartphones/Note10Pluses.png" alt="Samsung Galaxy Unpacked 2019" width="1600" height="1200">
        </div>
      </li>
      <li>
        <div>
          <h1>Samsung Galaxy Note 20 Series</h1>
        </div>
        <div>
          <img src="/images/smartphones/N20UMBR.png" alt="Galaxy Note 20 Ultra Mystic Bronze" width="345" height="375">
          <img src="/images/smartphones/N20UMB.png" alt="Galaxy Note 20 Ultra Mystic Black" width="345" height="375">
          <img src="/images/smartphones/N20UMW.png" alt="Galaxy Note 20 Ultra Mystic White" width="345" height="375">
        </div>
        <div>
          <h1>Samsung Galaxy Note 20 Ultra 5G (Best Smartphone That Money Can Buy)</h1>
          <h2>Versions: SM-N986B (International); SM-N986U (USA); SM-N986U1 (USA unlocked); SM-N986W (Canada); SM-N9860 (China); SM-N986N (Korea)</h2>
          <h2>NETWORK	Technology	GSM / CDMA / HSPA / EVDO / LTE / 5G</h2>
          <h2>LAUNCH	Announced	2020, August 05</h2>
          <h2>Status	Available. Released 2020, August 21</h2>
          <h2>BODY	Dimensions	164.8 x 77.2 x 8.1 mm (6.49 x 3.04 x 0.32 in)</h2>
          <h2>Weight	208 g (7.34 oz)</h2>
          <h2>Build	Glass front (Gorilla Glass Victus), glass back (Gorilla Glass Victus), stainless steel frame</h2>
          <h2>SIM	Single SIM (Nano-SIM and/or eSIM) or Hybrid Dual SIM (Nano-SIM, dual stand-by)</h2>
          <h2>IP68 dust/water resistant (up to 1.5m for 30 mins)</h2>
          <h2>Stylus, 9ms latency (Bluetooth integration, accelerometer, gyro)</h2>
          <h2>DISPLAY	Type	Dynamic AMOLED 2X, 120Hz, HDR10+</h2>
          <h2>Size	6.9 inches, 116.7 cm2 (~91.7% screen-to-body ratio)</h2>
          <h2>Resolution	1440 x 3088 pixels (~496 ppi density)</h2>
          <h2>Protection	Corning Gorilla Glass Victus</h2>
          <h2>Always-on display</h2>
          <h2>120Hz@FHD/60Hz@QHD refresh rate</h2>
          <h2>PLATFORM	OS	Android 10, upgradable to Android 11, One UI 3.0</h2>
          <h2>Chipset	Exynos 990 (7 nm+) - Global</h2>
          <h2>CPU: Qualcomm SM8250 Snapdragon 865+ (7 nm+) - USA</h2>
          <h2>Octa-core (2x2.73 GHz Mongoose M5 & 2x2.50 GHz Cortex-A76 & 4x2.0 GHz Cortex-A55) - Global</h2>
          <h2>Mali-G77 MP11 - Global</h2>
          <h2>Adreno 650 - USA</h2>
          <h2>MEMORY	Card slot	microSDXC (uses shared SIM slot)</h2>
          <h2>Internal	128GB 12GB RAM, 256GB 12GB RAM, 512GB 12GB RAM</h2>
          <h2>UFS 3.0</h2>
          <h2>MAIN CAMERA	Triple	108 MP, f/1.8, 26mm (wide), 1/1.33", 0.8µm, PDAF, Laser AF, OIS</h2>
          <h2>12 MP, f/3.0, 120mm (periscope telephoto), 1.0µm, PDAF, OIS, 5x optical zoom, 50x hybrid zoom</h2>
          <h2>12 MP, f/2.2, 120˚, 13mm (ultrawide), 1/2.55", 1.4µm</h2>
          <h2>Features	LED flash, auto-HDR, Panorama</h2>
          <h2>Video	8K@24fps, 4K@30/60fps, 1080p@30/60/240fps, 720p@960fps, HDR10+, stereo sound rec., gyro-EIS & OIS</h2>
          <h2>SELFIE CAMERA:	Single	10 MP, f/2.2, 26mm (wide), 1/3.2", 1.22µm, Dual Pixel PDAF</h2>
          <h2>Features:	Dual video call, Auto-HDR</h2>
          <h2>Video: 4K@30/60fps, 1080p@30fps</h2>
          <h2>SOUND: Loudspeaker	Yes, with stereo speakers</h2>
          <h2>3.5mm jack	No</h2>
          <h2>32-bit/384kHz audio</h2>
          <h2>Tuned by AKG</h2>
          <h2>COMMS	WLAN	Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, hotspot</h2>
          <h2>Bluetooth	5.0, A2DP, LE, aptX</h2>
          <h2>GPS	Yes, with A-GPS, GLONASS, BDS, GALILEO</h2>
          <h2>NFC	Yes</h2>
          <h2>Radio	FM radio (Snapdragon model only; market/operator dependent)</h2>
          <h2>USB	USB Type-C 3.2, USB On-The-Go</h2>
          <h2>FEATURES	Sensors	Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity, compass, barometer</h2>
          <h2>Samsung Wireless DeX (desktop experience support)</h2>
          <h2>ANT+</h2>
          <h2>Bixby natural language commands and dictation</h2>
          <h2>Samsung Pay (Visa, MasterCard certified)</h2>
          <h2>Ultra Wideband (UWB) support</h2>
          <h2>BATTERY	Type	Li-Ion 4500 mAh, non-removable</h2>
          <h2>Charging	Fast charging 25W</h2>
          <h2>USB Power Delivery 3.0</h2>
          <h2>Fast Qi/PMA wireless charging 15W</h2>
          <h2>Reverse wireless charging 4.5W</h2>
          <h2>MISC:	Colors	Mystic Bronze, Mystic Black, Mystic White</h2>
          <h2>Models	SM-N986B, SM-N986B/DS, SM-N986U, SM-N986U1, SM-N986W, SM-N9860, SM-N986N</h2>
          <h2>SAR	0.71 W/kg (head)     1.18 W/kg (body)    </h2>
          <h2>SAR EU	0.34 W/kg (head)     1.47 W/kg (body)</h2>
          <h2>Price	$ 854.99 / £ 811.00 / € 975.00 / ₹ 104,999</h2>
          <h2>TESTS	Performance	AnTuTu: 508760 (v8)</h2>
          <h2>GeekBench: 2603 (v5.1)</h2>
          <h2>GFXBench: 42fps (ES 3.1 onscreen)</h2>
          <h2>Contrast ratio: Infinite (nominal)</h2>
          <h2>Display	Contrast ratio: Infinite (nominal)</h2>
          <h2>Camera	Photo / Video</h2>
          <h2>Loudspeaker	-27.8 LUFS (Good)</h2>
          <h2>Battery life Endurance rating 88h</h2>
        </div>
        <div>
          <h1>Samsung Galaxy Note 20 Ultra Youtube Videos Links</h1>
        </div>
        <div>
          <h1><a href="https://youtu.be/DWRcNpR6Kdc">Galaxy Note20 Ultra Official TVC: The power to work and play | Samsung</a><h1>
          <h1><a href="https://youtu.be/0h4_sJbnRsI">Galaxy Note20 Ultra: Official Introduction Film | Samsung</a><h1>
        </div>
        <div>
          <h2>Introducing Galaxy Note20 Ultra. The Ultimate Powerphone For Power Users that empowers your work & play.</h2>
        </div>
        <div>
          <h2>[Power to Work] The S Pen responds just like a real pen with its 3x faster latency. Keep your handwriting automatically straightened with Samsung Notes and sync audio to the notes you take with Audio Bookmark.</h2>
          <div>
            <h2>You can now convert your Samsung Notes to various formats and keep them in sync across your Galaxy devices. Then use mobile apps on PC using Link to Windows. Simply drag and drop files from your phone on your desktop and run multiple mobile apps at once.</h2>
          </div>
          <div>
            <h2>[Power to Play] Play over 100 Xbox games on your phone with Xbox Game Pass Ultimate. With hyper-fast 5G, you can play what you want with who you want.</h2>
          </div>
          <div>
            <h2>Make pro-grade videos with built-in movie-like effects. Shoot 8K videos, change the zoom speed, and take complete control of sound design with Audio Mic by choosing between front, rear, omni, and bluetooth modes.</h2>
          </div>
          <div>
            <h2>Then simply point your Note20 Ultra to another and share your masterpiece with UWB technology. Even cast that on a bigger screen using Samsung DeX’s Wireless connection. Watch here, play there. Do two things at once without interruption. </h2>
          </div>
          <div>
            <h2>[Power of Performance] Note20 Ultra’s 120hz display is super smooth, making it easier to see what's on your screen.You get hours of screen time from just minutes of super-fast charge. With Note20 Ultra’s all-day intelligent battery, you have the power of work-class technology and the juice to make it last. </h2>
          </div>
          <div>
            <h2>This is not like any phone you’ve had. This is the ultimate powerphone For Power Users The power to work, and the power to play. </h2>
          </div>
          <div>
            <h1><a href="http://smsng.co/GalaxyNote20_yt">Learn More About Samsung Galaxy Note 20 Ultra</a><h1>
          </div>
          <div>
            <img src="/images/smartphones/N20UIntro.png" alt="Galaxy Note 20 Ultra Mystic White" width="1706" height="480">
          </div>
        </div>
      </li>
    </ol>
