<article>
  <h1>Star Wars Episode IV A New Hope</h1>
  <img src="images/StarWars/EpisodeIV.png" alt="Star Wars The New Hope">
  <h1><a href="https://en.wikipedia.org/wiki/Star_Wars_(film)">Star Wars: Episode IV – A New Hope From Wikipedia, the free encyclopedia</a></h1>

  <p>"A New Hope" and "Star Wars IV" redirect here. For the fourth film released, see Star Wars: Episode I – The Phantom Menace. For other uses, see A New Hope (disambiguation). For more uses of Star Wars, see Star Wars (disambiguation).</p>

  <p>Star Wars (retroactively titled Star Wars: Episode IV – A New Hope) is a 1977 American epic space-opera film written and directed by George Lucas, produced by Lucasfilm and distributed by 20th Century Fox. It stars Mark Hamill, Harrison Ford, Carrie Fisher, Peter Cushing, Alec Guinness, David Prowse, James Earl Jones, Anthony Daniels, Kenny Baker and Peter Mayhew. It is the first installment of the original Star Wars trilogy, the first of the franchise to be produced, and the fourth episode of the "Skywalker saga".</p>

  <p>Lucas had the idea for a science-fiction film in the vein of Flash Gordon around the time he completed his first film, THX 1138 (1971) and began working on a treatment after the release of American Graffiti (1973). Star Wars focuses on the journey of Luke Skywalker (Hamill), who along with the wizened Jedi Master Obi-Wan Kenobi (Guinness), smuggler Han Solo (Ford), and his Wookiee companion Chewbacca (Mayhew), attempts to free Princess Leia (Fisher) from the clutches of the tyrannical Galactic Empire. At the same time, the heroes try to deliver the plans for the Empire's planet-destroying space station, the Death Star, which are carried by the droids R2-D2 (Baker) and C-3PO (Daniels), to the Rebel Alliance, but face opposition from the Sith Lord Darth Vader (Prowse, voiced by Jones).</p>

  <p>After a turbulent production, Star Wars was released in a limited number of theaters in the United States on May 25, 1977, and quickly became a blockbuster hit, leading to it being expanded to a much wider release. The film opened to critical acclaim, most notably for its groundbreaking visual effects. It grossed a total of $775 million (over $550 million during its initial run), surpassing Jaws (1975) to become the highest-grossing film at the time until the release of E.T. the Extra-Terrestrial (1982). When adjusted for inflation, Star Wars is the second-highest-grossing film in North America (behind Gone with the Wind) and the fourth-highest-grossing film in the world. It received ten Oscar nominations (including Best Picture), winning seven. In 1989, it became one of the first 25 films that was selected by the U.S. Library of Congress for preservation in the National Film Registry for being "culturally, historically, or aesthetically significant".[5][6] At the time, it was the most recent film in the registry and the only one chosen from the 1970s. In 2004, its soundtrack was added to the U.S. National Recording Registry, and was additionally listed by the American Film Institute as the best movie score of all time a year later. Today, it is widely regarded by many in the motion picture industry as one of the greatest and most important films in motion picture history.</p>

  <p>The film has been reissued multiple times with Lucas's support—most significantly with its 20th-anniversary theatrical "Special Edition"—incorporating many changes including modified computer-generated effects, altered dialogue, re-edited shots, remixed soundtracks and added scenes. The film became a pop-cultural phenomenon and launched an industry of tie-in products, including novels, comics, video games, amusement park attractions, and merchandise including toys, games, clothing and many other spin-off works. The film's success led to two critically and commercially successful sequels, The Empire Strikes Back (1980) and Return of the Jedi (1983), and later to a prequel trilogy, a sequel trilogy, two anthology films and various spin-off TV series.</p>
</article>

<article>
  <h1>Star Wars Episode V: The Empire Strikes Back</h1>
  <img src="images/StarWars/EpisodeV.png" alt="Star Wars: The Emperor Strikes Back">
  <h1><a href="https://en.wikipedia.org/wiki/The_Empire_Strikes_Back">Star Wars: Episode V – The Emperor Strikes Back: From Wikipedia, the free encyclopedia</a></h1>
  <p>"Star Wars V" redirects here. For the fifth film released, see Star Wars: Episode II – Attack of the Clones. For other uses, see The Empire Strikes Back (disambiguation).</p>

  <p>The Empire Strikes Back, also known as Star Wars: Episode V – The Empire Strikes Back, is a 1980 American epic space opera film directed by Irvin Kershner and written by Leigh Brackett and Lawrence Kasdan, based on a story by George Lucas. The second installment in the original Star Wars trilogy, as the sequel to Star Wars (1977),[a] it is the second film in the franchise to be produced, and the fifth episode of the "Skywalker saga". The story is set three years after the events of the first film, as the Galactic Empire hunts the scattered Rebel Alliance throughout the galaxy. While Darth Vader relentlessly pursues Luke Skywalker's friends—Han Solo, Princess Leia, and Chewbacca—Luke studies the Force under Jedi Master Yoda to prepare himself for his upcoming confrontation with Vader.</p>

  <p>The film is produced by Lucasfilm. The ensemble cast includes Mark Hamill, Harrison Ford, Carrie Fisher, Billy Dee Williams, Anthony Daniels, David Prowse, Kenny Baker, Peter Mayhew, and Frank Oz. Following the success of Star Wars, Lucas hired Brackett to write the sequel; following her death in 1978, he outlined the Star Wars saga as a whole and wrote the next draft himself, before hiring Kasdan. Lucas chose not to direct due to his obligations at Industrial Light & Magic and handling the financing, and passed the duty to Kershner, his former professor. Filmed from March to September 1979, The Empire Strikes Back faced a difficult production that included actor injuries, the death of writer Leigh Brackett, a set fire, and fines from the Writers and Directors Guilds of America. The initial budget was $18 million, but ballooned to $33 million by the time production concluded, making it one of the most expensive films ever made at the time.</p>

  <p>The Empire Strikes Back premiered at the Kennedy Center in Washington, D.C. on May 17, 1980, and was released in the United States on May 21, 1980. The film became the highest-grossing film of 1980 with $440 million. Initially being met with mixed critical reviews, it is now hailed by many as the best film in the Star Wars saga and one of the greatest films ever made. The film has grossed over $550 million worldwide from its original run and several re-releases. Adjusted for inflation, it is the second-highest-grossing sequel of all time and the thirteenth highest-grossing film of all time in North America.[5] In 2010, the film was selected for preservation in the United States' National Film Registry by the Library of Congress as "culturally, historically, or aesthetically significant".[6][7].</p>

  <p>The Empire Strikes Back had a significant impact on filmmaking and popular culture, being regarded as a rare example of a sequel that transcends the original. The climax, in which Vader reveals to Luke that he is his father, is often cited as one of the greatest plot twists in film history. The final installment of the original Star Wars trilogy, Return of the Jedi, followed in 1983.
</article>


<article>
  <h1>Star Wars Episode VI: Return of the Jedi</h1>


  <img src="images/StarWars/EpisodeVI.png" alt="Star Wars: Return Of The Jedi">
  <h1><a href="https://en.wikipedia.org/wiki/Return_of_the_Jedi">Return of the Jedi: From Wikipedia, the free encyclopedia</a></h1>
  <p>""Star Wars VI" and "The Battle of Endor" redirect here. For the sixth Star Wars film released, see Star Wars: Episode III – Revenge of the Sith. For the television film, see Ewoks: The Battle for Endor.
  For other uses, see Return of the Jedi (disambiguation).</p>


  <p>Return of the Jedi (also known as Star Wars: Episode VI – Return of the Jedi) is a 1983 American epic space opera film directed by Richard Marquand. The screenplay is by Lawrence Kasdan and George Lucas from a story by Lucas, who was also the executive producer. It is the third installment in the original Star Wars trilogy, the third film to be produced, and the sixth film in the "Skywalker saga". It takes place one year after The Empire Strikes Back. The film stars Mark Hamill, Harrison Ford, Carrie Fisher, Billy Dee Williams, Anthony Daniels, David Prowse, Kenny Baker, Peter Mayhew and Frank Oz.</p>


  <p>In the film, the Galactic Empire, under the direction of the Emperor, is constructing a second Death Star in order to crush the Rebel Alliance once and for all. Since the Emperor plans to personally oversee the final stages of its construction, the Rebel Fleet launches a full-scale attack on the Death Star in order to prevent its completion and kill the Emperor, effectively bringing an end to his hold over the galaxy. Meanwhile, Luke Skywalker, now a Jedi Knight, struggles to bring his father Darth Vader back to the light side of the Force.</p>


  <p>In the film, the Galactic Empire, under the direction of the Emperor, is constructing a second Death Star in order to crush the Rebel Alliance once and for all. Since the Emperor plans to personally oversee the final stages of its construction, the Rebel Fleet launches a full-scale attack on the Death Star in order to prevent its completion and kill the Emperor, effectively bringing an end to his hold over the galaxy. Meanwhile, Luke Skywalker, now a Jedi Knight, struggles to bring his father Darth Vader back to the light side of the Force.</p>


  <p>The film was released in theaters on May 25, 1983, six years to the day of the release of the first film, receiving mostly positive reviews. It grossed $374 million during its initial theatrical run, becoming the highest-grossing film of 1983. Several re-releases and revisions to the film have followed over the decades, which has also brought its total gross to $475 million.</p>
</article>
