<fieldset>
  <ol>
    <li>
      <fieldset>
        <div>
          <h1>Nintendo 64 Games</h1>
        </fieldset>
        <fieldset>
          <h2>Super Mario 64: Full Game Walkthrough</h2>
          <p>A complete 120 star walkthrough for Super Mario 64. Enjoy!  Please activate the full description for time stamps.</p>
          <div>
            <img src="/images/SMSTEMP.png">
          </div>
          <a href="https://youtu.be/vT3AaQ77ges">Super Mario 64 - Full Game Walkthrough</a>
        </fieldset>
        <fieldset>
          <h1>Nintendo Gamecube Games</h1>
        </fieldset>
        <fieldset>
          <div>
          <h2>Super Mario Sunshine - FULL GAME Walkthrough Gameplay No Commentary</h2>
          <p>A Full 5:28 Hours And Minutes Explained How To Finish The Super Mario Sunshine Gameplay</p>
          <img src="/images/SMSUN.png">
          </div>
        </fieldset>
      </li>
      </ol>
      </fieldset>
